@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details page";
}

<div>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Price: @Model.Price $</li>
        <li>Description: @Model.Description</li>
    </ul>
    <a class="btn btn-warning" asp-controller="EditProduct" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <button class="btn btn-danger">Delete</button>
</div>
