@{
    ViewData["Title"] = "Home Page";
}
@*RENDERIZZARE LISTA PRODOTTI*@

@*   NUOVE TASK: 
    -Creare il database (👍)
    -Collegare il database (👍)
    -Collegare il form aggiungi al database (👍)
    -Aggiungere input file al form aggiungi (👍)
    -softDelete senza togliere dal database
    -HardDelete classico
    -Form modifica dati del db con dati precompilati
    -css
*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <div class="row">
             @foreach(var product in Model)
            {
                <div class="card col-4">
                    <img class="card-img-top" src="/uploads/@product.CoverImg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text"><span class="badge bg-success">@product.Price $</span></p>
                        <a class="btn btn-primary" asp-controller="Details" asp-action="Index" asp-route-id="@product.Id">Details</a>
                    </div>
                </div>
            } 
        </div>
    
</div>
